meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
if pageTitle
  title #{pageTitle} | #{site.name}
else
  title #{site.name}
meta(name="description" content=pageDescription)
if pageKeywords
  meta(name="keywords" content=pageKeywords)

block css
  link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Saira', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
  link(rel="stylesheet" href="/assets/css/main.css")

link(rel="canonical" href=site.url + pageAbsolutePath)

meta(name="format-detection" content="telephone=no")

if pageOgpTitle
  meta(property="og:title" content=pageOgpTitle + ' | ' + site.name)
else
  meta(property="og:title" content=site.name)
meta(property="og:type" content=pageOgpType)
meta(property="og:image" content=site.url + pageOgpImage)
meta(property="og:url" content=site.url + pageAbsolutePath)
meta(property="og:description" content=pageDescription)
meta(property="og:site_name" content=site.name)
meta(property="og:locale" content="ja")

if site.fbAppId
  meta(property="fb:app_id" content=site.fbAppId)
else if site.fbAdmins
  meta(property="fb:admins" content=site.fbAdmins)

if site.twitterCard
  meta(name="twitter:card" content=site.twitterCard)
if site.twitterSite
  meta(name="twitter:site" content=site.twitterSite)
link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
link(rel='icon', type='image/png', href='/assets/img/favicon-64x64.png', sizes='64x64')
link(rel='apple-touch-icon', sizes='114x114', href='/assets/img/apple-touch-icon-114x114.png')
